@charset "utf-8";
/* CSS Document */
/*响应式布局 
 *改变盒子计算方法 box-sizing：border-box;
 *主要width height 用%
 * border margin padding 可以用px
 */
*{ box-sizing:border-box;}


body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,p,input,select,textarea,form{margin: 0; padding: 0;}
body{ font-size:12px;}
img{border:none;}
li{list-style:none;}
input,select,textarea{outline:none;border:none; background-color:none;}
textarea{resize:none;}
a{text-decoration:none; color:#666666}



/*清浮动*/
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}

/*左右浮动*/
.fl{ float:left}
.fr{ float:right}

